<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>CitiBikeMap</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  .map-legends { opacity:.85;}
</style>
</head>
<body>
<div id='map'></div>
<div id='legend' style='display:none;'>
  <h1>Where are all the CitiBikes?</h1>
  <p>CitiBike is New York City's bike-share program, which allows New Yorkers to "check out" a bike for short trips through the city. Throughout the day people are retrieving bikes, going for a ride, and returning their bike to a different location.</p>
  <p> As people use the system, certain areas spontaneously accumulate more bikes, and other areas run out. This map visualizes the current state of the system as an interactive heat map. Areas of <font color="blue">low density are shown in blue</font> and <font color="red">high density are shown in red</font>.</p>
  <p>Be sure to check back throughout the day to see how the pattern has changed!</p>
  <small>Created by: <a href="http://bernardeverson.com/">Bernard Everson</a></small>
  <br>
  <small>Source: <a href="http://www.citibikenyc.com/system-data">CitiBike System Data</a></small>
</div>
	
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYmVuZXZlcnNvbiIsImEiOiI5NEZyMkxBIn0.keW7x9ghnVE_rOhxA4dYKw';
var map = L.mapbox.map('map', 'beneverson.ja06dcjc', {
	fadeAnimation: false,
	legendControl:{position:'topright'}
}).setView([40.7262, -73.962], 13);
map.legendControl.addLegend(document.getElementById('legend').innerHTML);


$.ajax({
    url: '/get_stations',
    type: 'GET',
    success: function(results) {
	  var heat = L.heatLayer([], { radius: 25, max: 1.0, blur: 15})
      _stations = results.stations;
	  var current_stations = []; // array to hold our latLng objects
	  // cycle through each station
      for (i = 0; i < _stations.length; i++) {
		  // add one point to the map for each free bike at the station
		  for (j = 0; j < _stations[i].numbikes; j++){
			  current_stations.push(L.latLng(_stations[i].latLng));
		  }  
      }
	  // set the data on the heatmap layer
	  heat.setLatLngs(current_stations);
	  // and add it to the map
	  heat.addTo(map);
    }
});

/*
$.ajax({
    url: '/get_recent_history',
    type: 'GET',
    success: function(results) {
		// loop through the results.historylist array
		var hlist = results.historylist;
		var layers = new Array();
		for (k = 0; k < hlist.length; k++) {
		  var heat = L.heatLayer([], { radius: 25, max: 1.0, blur: 10}) // declare a new heatmap layer
		  _stations = hlist[k]; // retrieve the stations list
		  var current_stations = []; // array to hold our latLng objects
		  // cycle through each station
		  for (i = 0; i < _stations.length; i++) {
			  // add one point to the map for each free bike at the station
			  for (j = 0; j < _stations[i].numbikes; j++){
				  current_stations.push(L.latLng(_stations[i].latLng));
			  }  
		  }
		  // set the data on the heatmap layer
		  heat.setLatLngs(current_stations);
		  // and add it to the 'layers' array
		  layers.push(heat);
		}
		
		// i is the number of the currently-selected layer: this loops through
		// 0, 1, and 2.
		var m = 0;

		// we use a layer group to make it simple to remove an existing overlay
		// and add a new one in the same line of code, as below, without juggling
		// temporary variables.
		var layerGroup = L.layerGroup().addTo(map);

		// show the first overlay as soon as the map loads
		next();

		// and then time the next() function to run every 2 seconds
		setInterval(next, 300);

		function next() {
		    layerGroup.clearLayers().addLayer(layers[m]);
		    if (++m >= layers.length) m = 0;
		}

	}
});
*/
</script>
</body>
</html>